astroid
autopep8
evdev
flake8
isort
lazy-object-proxy
mccabe
MouseInfo
numpy
opencv-python
Pillow
playsound
PyAutoGUI
pycodestyle
pyflakes
PyGetWindow
pylint
PyMsgBox
pynput
pyperclip
PyRect
PyScreeze
python-xlib
python3-xlib
PyTweening
six
toml
wrapt
